.smart2pay-admin-logs-container { overflow: auto; }
.smart2pay-admin-payment-method-container {}

.smart2pay-admin-logs-item-type, .smart2pay--admin-logs-item-date { color: black !important; }
.smart2pay-admin-logs-item-date { width: 150px; text-align: center; }

.smart2pay-admin-logs-item-text { color: black; clear: both; }

.smart2pay-admin-logs-item-file, .smart2pay--admin-logs-item-line { color: #535353; }

#s2p_payment_methods_configuration label > img {
    max-height: 35px;
    max-width: 120px !important;
}
